---
layout: default
---

<div class="post-list">
  {% for post in site.posts %}
  <article class="post-item">
    <div class="post-item-meta">
      <time class="post-item-date">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.tags %}
        {% for tag in post.tags limit:2 %}
          <span class="post-tag post-tag--sm">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div>
    <h2 class="post-item-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {% if post.description %}
      <p class="post-item-desc">{{ post.description }}</p>
    {% else %}
      <p class="post-item-desc">{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
    {% endif %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-item-read">Read &rarr;</a>
  </article>
  {% endfor %}
</div>
