---
layout: default
---

<div class="post-list">
  {% for post in paginator.posts %}
  <article class="post-item">
    <h2 class="post-item-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <time class="post-item-date">{{ post.date | date: "%d %B %Y" }}</time>
    <p class="post-item-desc">
      {% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html | truncatewords: 30 }}{% endif %}
    </p>
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-item-read">Read &rarr;</a>
  </article>
  {% unless forloop.last %}<hr class="post-separator">{% endunless %}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-link">&larr; Newer Posts</a>
  {% else %}
    <span class="pagination-link pagination-link--disabled">&larr; Newer Posts</span>
  {% endif %}
  <span class="pagination-info">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-link">Older Posts &rarr;</a>
  {% else %}
    <span class="pagination-link pagination-link--disabled">Older Posts &rarr;</span>
  {% endif %}
</nav>
{% endif %}
